body {
    margin: 0;
}
header {
    background-color: khaki;
}
.nav-left img { 
    width: 120px;
}
.nav-right {
    display: flex;
    align-items: center;   
    
}
.ul-list {
    display: flex;
    list-style: none; 
    text-transform: uppercase;  
}

.ul-list a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
.ul-list a:hover {
      color: purple;
} 
.navigation-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 250px; 
    
}
.search-bar {
    font-size: 21px;
}